<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-image: url(http://localhost:3000/public/assets/mountain.jpg);">

    <!-- navbar-->
    <%- include('../partials/header',{user : user}); %>

        <div style="height: 54px;"> </div>

        <div class="container-fluid">


                <div class="card shadoww mx-4 mb-3 mt-5 pt-3 bg-dark px-3 pb-4">
                    <h4 class="text-light display-4"> Editando al administrador No: <%= administrador.Administrador_IdAdministrador %>
                    </h4>
                    <form method="post" action="/update-admin">
                        <div class="form-row">

                            <div class="form-group col pb-4">
                                <div class="row">
                                    <div class="pr-5">
                                        <label class="text-primary" for="inputEmail4">Nombre:</label>
                                        <input type="text" value="<%=administrador.Nombre%>" class="form-control" id="inputEmail4" name="nombre"
                                            placeholder="Nombre">
                                    </div>

                                    <div class="text-right">
                                        <label class="text-primary text-right" for="inputEmail4">Cedula:</label>
                                        <input type="text" value="<%=administrador.Cedula%>"class="form-control" id="inputEmail4" name="cedula"
                                            placeholder="Cedula">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <input value="<%= administrador.Administrador_IdAdministrador %>" name="idAdministrador" readonly="readonly"
                            style="display: none;"></input>
                        <button type="submit" class="btn btn-primary">Editar</button>

                    </form>
                    
                </div>

    
        </div>

        <!-- Footer-->
        


</body>

</html>