<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- navbar-->
    <%- include('../partials/header',{user : user}); %>

        <div style="height: 54px;"> </div>
        
        


        <div class="container px-4 px-lg-5">
            <h1 class="text-dark display-1 strong">
                Historial
            </h1>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">



                <!--Aqui van las cartas con historial-->

                <% historial.forEach(function(history) { %>
                    <% if (history.Estado==1) {%>
                        <div class="col mb-5 mt-5">
                            <div class="card text-white bg-dark mb-3 shadoww border-0 rounded-0">

                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-left">
                                        <!-- Nombre del hotel-->
                                        <h5 class="fw-bolder text-primary">
                                            Id de Reservacion: <%= history.IdReserva %>
                                        </h5>
                                        <!-- fecha llegada-->
                                        <p><span class="bi-calendar-fill text-primary"></span>
                                            Fecha llegada: <%= history.FechaInicio.substring(0,10); %>
                                        </p>
                                        <!-- fecha vuelta-->
                                        <p><span class="bi-calendar-fill text-primary"></span>
                                            Fecha llegada: <%= history.FechaFin.substring(0,10); %>
                                        </p>
                                        <!-- monto-->
                                        <p><span class="bi-cash text-primary"></span>
                                            Monto: <%= history.Monto %>
                                        </p>


                                    </div>
                                </div>

                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-left"><a class="btn btn-primary mt-auto"
                                            href="/edit_reservacion/<%= history.IdReserva %>">Editar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% }); %>




            </div>
        </div>
        <div class="bgimg-2 darken"></div>

        <!-- Footer-->
        <%- include('../partials/footer'); %>



</body>

</html>