<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- navbar-->
    <%- include('../partials/header',{user : user}); %>




        <!-- Section about -->
        <section class="py-5 shadoww" id="about"
            style="background-image:  linear-gradient(120deg, #ffda3e 0%, #ffd630 100%); ">
            <div class="container px-4 py-5">

                <h1 class="text-dark display-1 strong">Hoteles:</h1>

   
            </div>


        </section>




        <!-- Section habitaciones-->
        <section class="py-3 " id="hoteles"
            style="background-image:  linear-gradient(120deg, #ffffff 0%, #ebedee 100%);">
            <div class="container px-4 px-lg-5">

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                    style="transform: translateY(-75px);">






                    <!--Aqui van las cartas con los hoteles-->

                    <% hoteles.forEach(function(hotel) { %>
                        <% if (hotel.Estado == 1) {%>
                        <div class="col mb-5">
                            <div class="card text-white bg-dark mb-3 shadoww border-0 rounded-0">
                                <!-- Product image-->
                                <img class="card-img-top rounded-0 image-cover" src="<%= hotel.Imagen %>"
                                    alt="https://dummyimage.com/450x400/" height="200" style="background-image: url(https://dummyimage.com/450x400/);"/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-left">
                                        <!-- Nombre del hotel-->
                                        <h5 class="fw-bolder text-primary">
                                            <%= hotel.Nombre %>
                                        </h5>
                                        <!-- Direccion del hotel-->
                                        <span class="bi-geo-alt-fill text-primary"></span>
                                            <%= hotel.Ubicación %>

                                            <div class="d-flex justify-content-left small text-primary mt-2 ">
                                                <% for(let i = 0; i < hotel.Estrellas; i++) { %>
                                                    <div class="bi-star-fill">‎ ‎</div>
                                                <% } %>
                                            </div>
                                    </div>
                                </div>

                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-left"><a class="btn btn-primary mt-auto" href="/editar-hotel/<%=hotel.IdHotel%>">Editar</a>
                                    </div>
                                    <div class="text-left"><a class="btn btn-success mt-auto" href="">Habitaciones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }); %>

                    <div class="col mb-5">
                        <div class="card text-white bg-dark mb-3 shadoww border-0 rounded-0">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-left">
                                    <h5 class="fw-bolder text-primary">
                                        Nuevo Hotel
                                    </h5>
                                    <!-- Direccion del hotel-->
                                    .....

                                </div>
                            </div>

                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-left"><a class="btn btn-primary mt-auto" href="/nuevo-hotel">Nuevo</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    

                
                </div>
            </div>

        </section>




        <div class="bgimg-2 darken"></div>


        






        <!-- Footer-->
        <%- include('../partials/footer'); %>


</body>

</html>