<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- navbar-->
    <%- include('../partials/header',{user : user}); %>



        <div class="bgimg-3" style="background-image: url(<%='http://localhost:3000/' + hotel.ImagenHotel %>); min-height: 60vh;"></div>



        <!-- Section about -->
        <section class="py-5 shadoww" id="about"
            style="background-image:  linear-gradient(120deg, #ffda3e 0%, #ffd630 100%); ">
            <div class="container px-4 py-5">

                <h1 class="text-dark display-1 strong"><%= hotel.nombreHotel %>:</h1>

                <h4 class="lead" style=" position:relative; z-index: 50;">
                    <%= hotel.descripcionHotel %>
                </h4>

                <h5 style=" position:relative; z-index: 50;">
                    Ubicación: <%= hotel.Ubicación_hotel %>
                </h5>


            </div>


        </section>




        <!-- Section habitaciones-->
        <section class="py-3 " id="hoteles"
            style="background-image:  linear-gradient(120deg, #ffffff 0%, #ebedee 100%);">
            <div class="container px-4 px-lg-5">

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                    style="transform: translateY(-75px);">






                    <!--Aqui van las cartas con los hoteles-->

                    <% habitaciones.forEach(function(habitacion) { %>
                        <% if (habitacion.Estado == 1) {%>
                        <div class="col mb-5">
                            <div class="card text-white bg-dark mb-3 shadoww border-0 rounded-0">
                                <!-- Product image-->
                                <img class="card-img-top rounded-0 image-cover" src="<%= habitacion.rutaImagen %>"
                                    alt="https://dummyimage.com/450x300/" height="200" style="background-image: url(https://dummyimage.com/450x400/);"/>
                                <!-- Product details-->
                                <div class="card-body p-4 pb-0">
                                    <div class="text-left">
                                        <!-- Nombre-->
                                        <h5 class="fw-bolder text-primary">
                                            <%= habitacion.Nombre %>
                                        </h5>
            
                                        <p class="text-primary">Tipo: <span class="text-light"> <%= habitacion.Tipo %></span> </p>
                                            
                                        <p class="text-primary">Camas: <span class="text-light"> <%= habitacion.Num_Camas %></span> </p>

                                        <p class="text-primary">Capacidad: <span class="text-light"> <%= habitacion.Capacidad %> personas</span> </p>

                                            
                                    </div>
                                </div>

                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-left"><a class="btn btn-primary mt-auto" href="/reserve/<%= habitacion.IdHabitacion %>">Reservar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }); %>




                </div>
            </div>

        </section>




        <div class="bgimg-2 darken"></div>


        






        <!-- Footer-->
        <%- include('../partials/footer'); %>


</body>

</html>